.App {
  text-align: center;
  /* display:inline-block;
  border:1px solid;
  width: 200px;
  padding:20px;
  margin:20px; */
}


.nav-bar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar li{
  display: inline-block;
  margin: 20px;
}

.nav-bar a{
  text-decoration: none;
  color: black;
}
